html {
  position: relative;
  min-height: 100%;
}

body {
  background: #0B3C5D url(../images/swirl_pattern.png) repeat fixed center;
  width: 100%;
  color: #eee;
}

a {
  color: #eee;
}

img {
  width: 50%;
}

aside {
  text-align: center;
}

.navbar {
    background-color: #0B3C5D;
}

.navbar-toggle .icon-bar {
  color: #eee;
}

.navbar-toggle .icon-bar {
    background-color: #d8e6f3;
}

.icon {
  width: 20%;
}

.col-md-6, .col-md-3 {
  background-color: #0B3C5D;
}

.footer {
  background-color: #0B3C5D;
}
