html {
  position: relative;
  min-height: 100%;
}

body {
  background: #0B3C5D url(../images/swirl_pattern.png) repeat fixed center;
  width: 100%;
  color: #eee;
}

a {
  color: #eee;
}

p {
  margin: 10px;

}

img {
  width: 35%;
  margin-right: 15px;
  border: 1px solid #328CC1;
}

h2 {
  padding: 0 0 5px 5px;
  margin: 5px;
  border-bottom: 1px solid #328CC1;
}

aside {
  text-align: center;

}

#profile-pic {
  float:left;
}

.navbar {
    background-color: #0B3C5D;
}

.navbar-toggle .icon-bar {
  color: #eee;
}

.navbar-toggle .icon-bar {
    background-color: #d8e6f3;
}

.icon {
  width: 20%;
}

.col-md-6, .col-md-3 {
  background-color: #0B3C5D;

}

.col-md-3 {
  padding-bottom: 25px;
}



.footer {
  background-color: #0B3C5D;
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
}
