/*Global css*/

html {
  position: relative;
}

body {
  background: #0B3C5D url(../images/swirl_pattern.png) repeat fixed center;
  width: 100%;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  color: #328CC1;
}

a {
  color: #328CC1;
}

section {
  margin-bottom: 200px;
}


/*main sections*/
.col-md-6 {
  background-color: #0B3C5D;
  padding: 15px 5px;
}


/*About me css*/

h2 {
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #328CC1;

}
p {
  margin: 10px;
}

#profile-pic {
  float:left;
  margin:15px 15px;
  width: 30%;
  border: 1px solid #328CC1;
}





/*Header css*/
.navbar {
    background-color: #0B3C5D;
}

.navbar-brand {
  font-size: 2.5em;
  color: #328CC1;
}

.navbar-toggle .icon-bar {
  color: #328CC1;
}

.navbar-toggle .icon-bar {
    background-color: #d8e6f3;
    color: #328CC1;
}




/*Connect with Me css*/

aside {
  text-align: center;
  width: 100%;
}

h3 {
  padding: 0 0 5px 5px;
  margin: 5px;
  border-bottom: 1px solid #328CC1;
}

.icon {
  max-width: 20%;
}

.col-md-3 {
  background-color: #0B3C5D;
  padding: 15px 5px;
}

/*footer css*/

#port-footer {
  background-color: #0B3C5D;
  height: 100px;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
}

.footer {
  background-color: #0B3C5D;
  height: 100px;
  position:fixed;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
}


/*Portfolio page css*/

h4 {
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: #eee;
  color: #00F;
  bottom: 0;
  left: 0;
}

.img {
  position: relative;
  width: 40%;
  float: left;
  margin: 20px;
}

img {
  width: 100%;

}

/*contact page css*/

form {
  margin: 10px auto;
  float: left;
  text-align: center;
}

input {
  margin: 15px 5px 15px 20px;
}

textarea {
  width: 80%;
  margin-top: 15px;
}



/*Media Queries*/

@media only screen and (max-width: 992px) {

  .col-md-3 {
    padding: 10px 00;
    margin: 30px auto;
    width: 100%;
  }

  .icon {
    max-width: 5%;
  }


}
@media only screen and (max-width: 768px){
  body {
      margin-bottom: 400px;
  }

}

@media only screen and (max-width: 480px){
  body {
      margin-bottom: 200x;
  }
}
